/* Cores css */
:root {
    --color-one:#ffff;
    --color-two:#017143;
    --color-tree:#000;
    --color-four:#383838;
    --color-five:#015331;
    --color-six:#fafafa;
    --color-seven:rgba(97, 97, 97, 0.623);
}
/**/